.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  gap: 2rem;
}

.about__image {
  width: 20%;
  border-radius: 10%;
  margin-left: 20px;
  margin-bottom: 30px;
}

.about__text {
  max-width: 600px;
}

.about__name {
  color: var(--clr-primary);
}

.about__location {
  margin: 0.75rem 0 1.5rem;
  color: var(--clr-fg-alt);
  font-weight: 500;
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__image {
    width: 40%; /* Make the image larger on mobile */
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 10%;
  }

  .about__text {
    text-align: center;
  }

  .about__contact {
    text-align: center; /* Center the about__contact section */
    padding-left: 25%;
  }

  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
